# App Lock
add_service(system_server, app_lock_service);

# FaceUnlock
typeattribute system_server data_between_core_and_vendor_violators;

add_service(system_server, faceunlock_service);
allow system_server face_vendor_data_file:dir create_dir_perms;
