# App Lock
add_service(system_server, app_lock_service);

# FaceUnlock
add_service(system_server, faceunlock_service);
typeattribute system_server data_between_core_and_vendor_violators;
allow system_server face_vendor_data_file:dir create_dir_perms;
allow system_server face_vendor_data_file:file create_file_perms;
